.footer {
    width: 100%;
    background-color: grey;
    color: white; 
}

.footer .col {
    margin-top: 8%;
}

.made {
    height: 20%;
    background-color: black;
    justify-content: center;
    display: flex;
    
    align-items: center;
    font-size: 0.6em;
}
.footer a{
    border: none;
}

.btn {
    border: none;
}