.subscribe-us {
    display: flex;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(67, 146, 118) 0%, rgba(34, 195, 152, 0.6) 0%), url(../../../public/images/background/sub.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.text-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-subscribe h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.text-subscribe span {
    display: flex;
    color: white;
}

.line {
    display: flex;
    flex-direction: row;
}

.text-subscribe input {
    display: flex;
    height: 5vh;
    margin-top: 2.2vh;
    border-radius: none !important;
}

.bouton{
    margin-left: 2vh;
    height: 5vh;
    background-color: rgb(211, 116, 211);
    color: white;
    border: rgb(211, 116, 211) solid 1px !important;
}


